:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #014737;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 62.5% of 16px = 10px; 1 rem = 10px */
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: var(--color-body);
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

.main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  flex: 1;
}

.container {
  display: flex;
}

/* Sidebar Block */
.sidebar {
  width: 250px;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar img {
  max-width: 50%;
  margin-bottom: 2rem;
}

.sidebar__collapsible-icon {
  font-size: 2.5rem;
  line-height: 1;
}

.sidebar-item {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.sidebar__first-level {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
}

.sidebar__title {
  padding: 0 10px;
}

.sidebar__first-level:hover {
  background: #f1f1f1;
}

.sidebar-submenu {
  padding-left: 20px;
  margin-top: 5px;
}

.sidebar-subitem {
  padding: 5px 0;
  cursor: pointer;
  display: flex;
}

.sidebar-subitem::before {
  content: "-";
  padding-right: 5px;
}

.sidebar-subitem:hover {
  color: #007bff;
}

.content {
  flex: 1;
  padding: 20px;
  background: #eef2f5;
}

@media screen and (max-width: 500px) {
  .sidebar {
    width: 80px;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100px;
  }

  .sidebar__title {
    display: none;
  }

  .sidebar img {
    max-width: 100%;
  }
}

/* Navbar container */
.navbar {
  color: var(--color-body);
  padding: 15px 20px;
  min-height: 6rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

/* Logo */
.navbar-logo {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}

/* Links (hidden by default on mobile) */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.navbar-links li a {
  text-decoration: none;
  color: #101010;
  font-size: 1.6rem;
  transition: color 0.3s;
}

.navbar-links li a:hover {
  color: #f8f9fa;
}

/* Toggle button (for mobile) */
.navbar-toggle {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.profile-info {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.profile-info img {
  width: 32px;
  border-radius: 50%;
  margin-right: 5px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-links {
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #007bff;
    border-radius: 5px;
    padding: 10px;
    display: none;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* Footer */
.footer {
  font-size: 1.5rem;
}

/* Dashboard */
.dashobard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(180px, auto);
  gap: 2rem;
  text-align: center;
}

.box {
  padding: 2rem;
  border: 1px solid lightblue;
  vertical-align: middle;
  border-radius: 1rem;
  background: #f1f1f1;
}

.box1 {
  grid-row: span 2;
}

.box4 {
  grid-row: span 2;
}

.box8 {
  grid-column: span 2;
}
